<%- include('partials/header', { page: 'calander', user: (typeof user !== 'undefined') ? user : {} }) %>

<div class="container-fluid">
    <h1>Academic Calendar</h1>
    <p>This is where the academic calendar will be displayed.</p>
</div>

<%- include('partials/footer') %>